@keyframes snakeAnimation {
    from {
        left: -30%;
        top: 30%;
        visibility: visible;
    }
    to {
        left: 120%;
        top: 30%;
        visibility: visible;
    }
}

@keyframes catAnimation {
    0% {
        left: 50px;
        top: -30%;
    }
    50% {
        left: 50px;
        top: -10%;
    }
    100% {
        left: 50px;
        top: -30%;
    }
}

* {
    font-family: sans-serif;
}

body {
    margin-left: 100px;
    margin-right: 100px;
    overflow: hidden;
}

h1:first-of-type {
    text-align: center;
    border-bottom: solid black;
    padding-bottom: 20px;
}

img {
    max-width: 500px;
    display: block;
}

p:first-of-type::before {
    content: '- ';
}

#bouton {
    color: white;
    background-color: black;
    border-radius: 10px;
    box-shadow: none;
    padding: 10px;
    font-size: 30px;
    display: block;
    margin-bottom: 30px;
}

#bouton:hover {
    cursor: pointer;
    border-color: red;
    border-width: 10px;
    transform: translate(-10px, -10px);
    border-style: solid;
}

#bouton:active {
    color: gray;
    border-color: darkred;
}

#textbox {
    font-size: 20px;
    text-align: center;
    padding: 10px;
}

#snakeDrawing {
    display: inline;
    position: absolute;
    left: 0px;
    top: 0px;
    animation-name: snakeAnimation;
    animation-duration: 10s;
    visibility: hidden;
}

#cat {
    display: inline;
    position: absolute;
    left: 0px;
    top: 0px;
    transform: rotate(180deg);
    animation-name: catAnimation;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    visibility: visible;
}