html, body {
    margin: 0;
}

body {
    background-color: grey;
}

header {
    background-color: blue;
    display: block;
    color: white;
    margin: 0;
    font-family: sans-serif;
}

header > h1 {
    margin: 0;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 48px;
}

#content {
    background-color: white;
    width: 950px;
    padding-left: 50px;
    padding-top: 50px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    font-family: serif;
    box-shadow: 10px 5px 5px black;
}

#content > h2 {
    font-size: 50px;
    border-bottom: solid black;
    width: 322px;
}

#content > p {
    font-size: 20px;
}

#content > p > code {
    background-color: rgb(34, 34, 34);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

#content > pre {
    background-color:rgb(34, 34, 34);
    color: white;
    width: 700px;
    font-size: 15px;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 10px;
}

#content > p:last-child {
    padding-bottom: 50px;
}