* {
    font-family: sans-serif;
}

body {
    margin-left: 100px;
    margin-right: 100px;
}

h1:first-of-type {
    text-align: center;
    border-bottom: solid black;
    padding-bottom: 20px;
}

img {
    max-width: 500px;
    display: block;
}

p:first-of-type::before {
    content: '- ';
}

#bouton {
    color: white;
    background-color: black;
    border-radius: 10px;
    box-shadow: none;
    padding: 10px;
    font-size: 30px;
    display: block;
    margin-bottom: 30px;
}

#bouton:hover {
    cursor: pointer;
    border-color: red;
    border-width: 10px;
    transform: translate(-10px, -10px);
    border-style: solid;
}

#bouton:active {
    color: gray;
    border-color: darkred;
}

#textbox {
    font-size: 20px;
    text-align: center;
    padding: 10px;
}